<div class="page-layout">
  <header class="page-header">
    <div class="page-header__logo">
      <a href="/">
        <img src={{logo}} />
        Reddit
      </a>
    </div>
    {{#each subreddits}}
      <div class="page-header__subreddit">
        <a class="page-header__subreddit_link" href="https://{{../hostname}}/{{this.to}}">
          {{this.text}}
        </a>
        {{#ifnotend @index ../subreddits.length}}
          <span class="page-header__subreddit_separator">|</span>
        {{/ifnotend}}
      </div>
    {{/each}}
  </header>
  <div class="page-layout__body">
    <div class="post-list">
      <ol class="post-list__list">
        {{#each data.children}}
          <li class="post-result">
            <span class="post-result__title">
              <a href="{{this.data.permalink}}">{{{this.data.title}}}</a>
            </span>
            <span class="post-result__url">
              (<a href="{{this.data.url}}">{{this.data.url}}</a>)
            </span>
            <div class="post-result__meta">
              {{this.data.ups}}
              points by
              <a href="/user/{{this.data.author}}">{{this.data.author}}</a>
              {{this.data.created_utc}}
              |
              <a href="{{this.data.permalink}}">{{this.data.num_comments}}
                comments</a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>